
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <title>Welcome to Esote</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta content="ESOTE" name="description" />
    <meta name="author" content="Ethervest" />
    <meta name="version" content="1.0.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap"
      rel="stylesheet"
    />
    <style>
      * {
        font-family: "Nunito Sans", sans-serif;
      }
    </style>
  </head>

  <body
    class="font-nunito text-base text-black dark:text-white dark:bg-slate-900"
  >
    <!-- Hero Start -->
    <div
      style="border: rgba(0, 77, 153, 0.3) solid 46.63px; max-width: 900px; margin: 0 auto"
    >
      <table
        cellpadding="0"
        cellspacing="0"
        style=" width: 100%;
          font-size: 15px;
          font-weight: 400;
          border: none;
          padding: 43px;
          border-radius: 6px;
          overflow: hidden;
          background-color: #fff;
          box-shadow: 0 0 3px rgba(60, 72, 88, 0.15);
        "
      >
        <thead>
          <tr
            style="
              background: linear-gradient(to right, #3f0088 0%, #5fb5c4 100%);
             
              padding: 3px 0;
              border: none;
              line-height: 68px;
              color: #fff;
              font-size: 24px;
              letter-spacing: 1px;
            "
          >
            <th scope="col">
              <img
                style="width: 76px; margin: 46px 38px;display: block;"
                src="https://esotefrontend-1639a7af9960.herokuapp.com/assets/esote_logo-6a5d75c2.png"
                alt=""
              />
            </th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td
           
            >
            <p style="font-family: 'Nunito Sans', sans-serif; font-weight: 700; font-size: 24px; line-height: 25.2px; margin-top: 40px;">
               Hi, {{ user.fullName }}
            </p>
             
            </td>
          </tr>
          <tr>
            <td >
              <p style="font-family: 'Nunito Sans', sans-serif; font-weight: 600; font-size: 16px; margin: 25px 0; letter-spacing: 8%; max-width: 566px;"> Thank you for choosing ESOTE! To ensure the security of your account and personal information, we require a quick verification of your email address.
              <br/>
                Your One-Time Password (OTP) for verification is: {{Otp}}</p>  

                <p>Please enter this code on the verification page to proceed. Remember, this OTP is valid for only 20 minutes and should not be shared with anyone.</p>
                <p>If you did not initiate this request, please ignore this email, or contact us immediately at support@esote.io for assistance. <br/>
                
                Thank you for choosing ESOTE.
                <br/> 
                Best regards, 
                <br />
                The ESOTE Team 
                </p> 

            </td>
          </tr>
         

          <tr>
            <td
              style="
                padding: 16px 8px;
                color: #676d74;
                background-color: #f8f9fc;
                text-align: center;
              "
            >
              ©
              <script>
                document.write(new Date().getFullYear());
              </script>
              Esote-team.
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Hero End -->
  </body>
</html>

